In [46]:
#import dependencies
import pandas as pd
from sqlalchemy import create_engine
import psycopg2

In [47]:
#store items csv data into brand dataframe
csv_file = "Resources/items.csv"
brand_df = pd.read_csv(csv_file)
brand_df.head()

,asin,brand,title,url,image,rating,reviewUrl,totalReviews,price,originalPrice
0,B0000SX2UC,NaN,Dual-Band / Tri-Mode Sprint PCS Phone w/ Voice...,https://www.amazon.com/Dual-Band-Tri-Mode-Acti...,https://m.media-amazon.com/images/I/2143EBQ210...,3.0,https://www.amazon.com/product-reviews/B0000SX2UC,14,0.00,0.0
1,B0009N5L7K,Motorola,Motorola I265 phone,https://www.amazon.com/Motorola-i265-I265-phon...,https://m.media-amazon.com/images/I/419WBAVDAR...,3.0,https://www.amazon.com/product-reviews/B0009N5L7K,7,49.95,0.0
2,B000SKTZ0S,Motorola,MOTOROLA C168i AT&T CINGULAR PREPAID GOPHONE C...,https://www.amazon.com/MOTOROLA-C168i-CINGULAR...,https://m.media-amazon.com/images/I/71b+q3ydkI...,2.7,https://www.amazon.com/product-reviews/B000SKTZ0S,22,99.99,0.0
3,B001AO4OUC,Motorola,Motorola i335 Cell Phone Boost Mobile,https://www.amazon.com/Motorola-i335-Phone-Boo...,https://m.media-amazon.com/images/I/710UO8gdT+...,3.3,https://www.amazon.com/product-reviews/B001AO4OUC,21,0.00,0.0
4,B001DCJAJG,Motorola,Motorola V365 no contract cellular phone AT&T,https://www.amazon.com/Motorola-V365-contract-...,https://m.media-amazon.com/images/I/61LYNCVrrK...,3.1,https://www.amazon.com/product-reviews/B001DCJAJG,12,149.99,0.0

In [48]:
#store reviews csv data into reviews dataframe
csv_file = "Resources/reviews.csv"
reviews_df = pd.read_csv(csv_file)
reviews_df.head()

,asin,name,rating,date,verified,title,body,helpfulVotes
0,B0000SX2UC,Janet,3,11-Oct-05,False,"Def not best, but not worst",I had the Samsung A600 for awhile which is abs...,1.0
1,B0000SX2UC,Luke Wyatt,1,7-Jan-04,False,Text Messaging Doesn't Work,Due to a software issue between Nokia and Spri...,17.0
2,B0000SX2UC,Brooke,5,30-Dec-03,False,Love This Phone,"This is a great, reliable phone. I also purcha...",5.0
3,B0000SX2UC,amy m. teague,3,18-Mar-04,False,"Love the Phone, BUT...!","I love the phone and all, because I really did...",1.0
4,B0000SX2UC,tristazbimmer,4,28-Aug-05,False,"Great phone service and options, lousy case!",The phone has been great for every purpose it ...,1.0

In [49]:
# create new brand dataset with these selected columns - asin, brand, title, and price
new_brand_df=brand_df[['asin','brand','title','price']].copy()
new_brand_df.head()

,asin,brand,title,price
0,B0000SX2UC,NaN,Dual-Band / Tri-Mode Sprint PCS Phone w/ Voice...,0.00
1,B0009N5L7K,Motorola,Motorola I265 phone,49.95
2,B000SKTZ0S,Motorola,MOTOROLA C168i AT&T CINGULAR PREPAID GOPHONE C...,99.99
3,B001AO4OUC,Motorola,Motorola i335 Cell Phone Boost Mobile,0.00
4,B001DCJAJG,Motorola,Motorola V365 no contract cellular phone AT&T,149.99

In [50]:
# create new reviews dataset with these selected columns - asin, and rating
new_reviews_df=reviews_df[['asin','rating']].copy()
new_reviews_df.head()

         asin  rating
0  B0000SX2UC       3
1  B0000SX2UC       1
2  B0000SX2UC       5
3  B0000SX2UC       3
4  B0000SX2UC       4

In [51]:
#cleaning items/brand dataframe: remove NAN
new_brand_df=new_brand_df.dropna()
new_brand_df.head()

,asin,brand,title,price
1,B0009N5L7K,Motorola,Motorola I265 phone,49.95
2,B000SKTZ0S,Motorola,MOTOROLA C168i AT&T CINGULAR PREPAID GOPHONE C...,99.99
3,B001AO4OUC,Motorola,Motorola i335 Cell Phone Boost Mobile,0.00
4,B001DCJAJG,Motorola,Motorola V365 no contract cellular phone AT&T,149.99
5,B001GQ3DJM,Nokia,Nokia 1680 Black Phone (T-Mobile),0.00

In [52]:
#cleaning items/brand dataframe: remove no price items
new_brand_df=new_brand_df.loc[new_brand_df['price']!=0]
new_brand_df.head()

,asin,brand,title,price
1,B0009N5L7K,Motorola,Motorola I265 phone,49.95
2,B000SKTZ0S,Motorola,MOTOROLA C168i AT&T CINGULAR PREPAID GOPHONE C...,99.99
4,B001DCJAJG,Motorola,Motorola V365 no contract cellular phone AT&T,149.99
9,B002WTC1NG,Motorola,Motorola Barrage V860 Phone (Verizon Wireless),139.99
10,B0033SFV5A,Samsung,Verizon or PagePlus Samsung Smooth U350 Great ...,64.99

In [53]:
# cleaning items/brand dataframe: rename dataframe columns
new_brand_df=new_brand_df.rename(columns={'asin':'ID','brand':'Phone_Brand','title':'Phone_Model','price':'Phone_Price'})
new_brand_df.head()

,ID,Phone_Brand,Phone_Model,Phone_Price
1,B0009N5L7K,Motorola,Motorola I265 phone,49.95
2,B000SKTZ0S,Motorola,MOTOROLA C168i AT&T CINGULAR PREPAID GOPHONE C...,99.99
4,B001DCJAJG,Motorola,Motorola V365 no contract cellular phone AT&T,149.99
9,B002WTC1NG,Motorola,Motorola Barrage V860 Phone (Verizon Wireless),139.99
10,B0033SFV5A,Samsung,Verizon or PagePlus Samsung Smooth U350 Great ...,64.99

In [55]:
# cleaning reviews dataframe: rename dataframe columns
new_reviews_df=new_reviews_df.rename(columns={'asin':'ID'})
new_reviews_df.head()

           ID  rating
0  B0000SX2UC       3
1  B0000SX2UC       1
2  B0000SX2UC       5
3  B0000SX2UC       3
4  B0000SX2UC       4

In [56]:
#groupby reviews data
all_reviews_df=new_reviews_df.groupby('ID').mean().reset_index()
#rename the columns
all_reviews_df=all_reviews_df.rename(columns={'rating':'Average_Rating'})
#Round off average rating to 1 decimal place
all_reviews_df=all_reviews_df.round({'Average_Rating':1})
all_reviews_df.head()

           ID  Average_Rating
0  B0000SX2UC             3.4
1  B0009N5L7K             3.1
2  B000SKTZ0S             3.7
3  B001AO4OUC             3.3
4  B001DCJAJG             3.8

In [57]:
#merge brand and all reviews dataframes to get final phone ratings
final_rating_df=pd.merge(new_brand_df,all_reviews_df, on='ID')
final_rating_df.head()

,ID,Phone_Brand,Phone_Model,Phone_Price,Average_Rating
0,B0009N5L7K,Motorola,Motorola I265 phone,49.95,3.1
1,B000SKTZ0S,Motorola,MOTOROLA C168i AT&T CINGULAR PREPAID GOPHONE C...,99.99,3.7
2,B001DCJAJG,Motorola,Motorola V365 no contract cellular phone AT&T,149.99,3.8
3,B002WTC1NG,Motorola,Motorola Barrage V860 Phone (Verizon Wireless),139.99,4.0
4,B0033SFV5A,Samsung,Verizon or PagePlus Samsung Smooth U350 Great ...,64.99,3.4